.cloth-details{
    width: 50%;
    color: #ffe28d;
    font-size: 20px;
    float: left;
}
.buttons{
    margin-top: 10px;
}
.action-button-1{
    float: left;
}
.action-button-2{
    float: left;
}
.action-button-3{
    float: left;
}
h1{
    color: #ffe28d;
}
.desc-to-page{
    width: 50%;
    font-size: 20px;
    float: right;
}
.description-field{
    border: 1px solid #ffe28d;
    padding: 13px;
    text-align: center;
}
.measurement{
    position: absolute; left: auto;
}