.cloth-details{
    color: #ffe28d;
    font-size: 20px;
}
.buttons{
    margin-top: 10px;
}
.action-button-1{
    float: left;
}
.action-button-2{
    float: left;
}
.action-button-3{
    float: left;
}
h1{
    color: #ffe28d;
}
