body{
    background-color: #013508;
    margin: 0 !important;
}

.wrapper{
    width: 100%;
}
.header{
    width: 100%;
    padding: 40px 0;
}
.logo{
    width: 500px;
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
}
.pic-logo{
    width: 85px;
    height: 60px;
    margin-right: 30px;
}
.text-logo{
}
.nav{
    width: 100%;
    padding: 3px 0;
    background-color: #ffe28d;
    text-align: center;
    border-top: 1px solid #f8c21f;
    border-bottom: 1px solid #f8c21f;
    position:sticky;
    top:0rem;

}
.content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: #ffe28d;
    padding-top: 10px;
}
ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}
ol a{
    color: black;
    text-decoration: none;
    display: block;
    border-right: 1px dashed black;
}

ol > li{
    float: left;
    width: 150px;
    height: 40px;
}

ol > li:first-child{
    border-left: 1px dashed black;
}
ol > li:hover{
    background-color: #d1a623;
}

ol > li:hover > a{
    color: #f87001;
}
ol > li > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}
ol > li > ul > li{
    background-color: #ffe28d;
    position: relative;
    z-index: 100;
    border-top: 1px dashed black;
}
ol li ul li:hover{
    background-color: #ffffff;

}

ol > li:hover > ul {
    display: block;
}