<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-container">
        <div class="navbar">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <nav>
                <ul>
                    <li><a href="{% url 'main_page' %}">MAIN PAGE</a></li>
                    <li><a href="{% url 'wardrobe' %}">WARDROBE</a></li>
                    <li><a href="{% url 'add_cloth' %}">ADD CLOTHING</a></li>
                    <li><a href="{% url 'add_type' %}">ADD TYPE</a></li>
                </ul>
            </nav>
        </div>
        {% block page %}
        {% endblock %}
    </div>
</body>
</html>
