<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'new-main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}"/>
</head>
<body>
        <div class="wrapper">
            <div class="header">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" class="pic-logo" style="float:left;">
                    <div class="text-logo">Organizator ciuchów</div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="nav-global">
                <ol>
                    <li><a class="menu-button" href="{% url 'main_page' %}">MAIN PAGE</a></li>
                    <li><a class="menu-button" href="{% url 'wardrobe' %}">WARDROBE</a>
                        <ul>
                            <li><a href="{% url 'wardrobe' %}">TILES</a></li>
                            <li><a href="{% url 'wardrobe_table' %}">TABLE</a></li>
                        </ul>
                    </li>
                    <li><a class="menu-button" href="#">ADD</a>
                        <ul>
                            <li><a href="{% url 'add_cloth' %}">CLOTHING</a></li>
                            <li><a href="{% url 'add_type' %}">TYPE</a></li>
                            <li><a href="{% url 'add_sub_type' %}">SUB-TYPE</a></li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
        <div class="content">
        </div>
        {% block page %}
        {% endblock %}
    </div>
</body>
</html>
