<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!-- NIE DZIAŁA LINK FONTU -->
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <nav>
                <ul>
                    <li><a href="{% url 'main_page' %}">STRONA GŁÓWNA</a></li>
                    <li><a href="{% url 'wardrobe' %}">SZAFA</a></li>
                    <li><a href="{% url 'add' %}">DODAJ</a></li>
                </ul>
            </nav>
            <img src="{% static 'images/menu.png' %}" class="menu-icon">
        </div>
        {% block page %}
        {% endblock %}
    </div>
</body>
</html>