{% extends 'block.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'delete.css' %}">
{% endblock %}

{% block title %} Delete {% endblock %}
{% block page %}

<div class="content">
    <h1>Delete product</h1>

    <form method="post">{% csrf_token %}
        <h2>Are you sure to remove {{ object.name }}?</h2>
        <div class= "direction-button-area">
            <input class="direction-button" type="submit" value="Yes">
            <a class="direction-button" href="{% url 'wardrobe' %}">Go back tiles</a>
            <a class="direction-button" href="{% url 'wardrobe_table' %}">Go back table</a>
        </div>
    </form>
</div>
{% endblock %}