{% extends 'block.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock %}
{% block title %} Detail {% endblock %}

{% block page %}
<div class="content">
    <h1>Detail:</h1>

    <div class="cloth-details">
        <p><b>Nazwa:</b> {{ cloth.name }}</p>
        <p><b>Brand:</b> {{ cloth.brand }}</p>
        <p><b>Size:</b> {{ cloth.size }}</p>
        <p><b>Description:</b> {{ cloth.description }}</p>
        <p><b>Type:</b> {{ cloth.cloth_type }}</p>
        <p><b>Sub-type:</b> {{ cloth.cloth_sub_type }}</p>
        <p><b>Purchase price:</b> {{ cloth.purchase_price }}</p>
        <p><b>Predicted sale price:</b> {{ cloth.predicted_sale_price }}</p>
        <p><b>Sold price:</b> {{ cloth.sold_price }}</p>
       <p><b>Sold:</b> {{ cloth.sell_statute }}</p>
        <p><b>Marketplaces:</b>
        {% for market in cloth.marketplaces.all %}
            {{ market }},
        {% endfor %}</p>

        {% with cloth.id|stringformat:"s" as cloth_id %}
        <p><b>Item ID:</b> {{ cloth_id }}</p>
        {% endwith %}
    </div>
    <div class="desc-to-page">
        <br>Description for sell: <br>
        <div class="description-field" id="desc-block">
            {{ cloth.description_generator }}
        </div>
        <button id="copy-button">Copy</button>
    </div>
    <div style="clear:both"></div>
    <div class="buttons">
        <form class="action-button-1" action="{% url 'edit' slug=cloth.slug %}">
            <button type="submit">Edit</button>
        </form>
        <form class="action-button-2" action="{% url 'delete' slug=cloth.slug %}">
            <button type="submit">Delete</button>
        </form>
        <form class="action-button-3" action="{% url 'wardrobe' %}">
            <button type="submit">To tiles</button>
        </form>
        <form class="action-button-4" action="{% url 'wardrobe_table' %}">
            <button type="submit">To table</button>
        </form>
    </div>
</div>

<script>
    function copyFunction() {
    const copyText = document.getElementById('desc-block').textContent;
    const textArea = document.createElement('textarea');
    textArea.textContent = copyText;
    document.body.append(textArea);
    textArea.select();
    document.execCommand('copy');
    k2button.innerText = 'Text copied';
        textArea.remove();
    }
document.getElementById('copy-button').addEventListener('click', copyFunction);
</script>
{% endblock %}