{% extends 'block.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock %}
{% block title %} Detail {% endblock %}

{% block page %}
<h1>Detail:</h1>

<div class="cloth-details">
    {{ cloth.name }}<br>
    Brand: {{ cloth.brand }}<br>
    Size: {{ cloth.size }}<br>
    Description: {{ cloth.description }}<br>
    Type: {{ cloth.cloth_type }}<br>
    Purchase price: {{ cloth.purchase_price }}<br>
    Predicted sale price: {{ cloth.predicted_sale_price }}<br>
    Sold price: {{ cloth.sold_price }}<br>
    Marketplaces:<br>

    {% for market in cloth.marketplaces.all %}
        {{ market }}<br>
    {% endfor %}

    {% with cloth.id|stringformat:"s" as cloth_id %}
    Item ID: {{ cloth_id }}
    {% endwith %}
</div>
<div class="buttons">
    <form class="action-button-1" action="{% url 'edit' slug=cloth.slug %}">
        <button type="submit">Edit</button>
    </form>
    <form class="action-button-2" action="{% url 'delete' slug=cloth.slug %}">
        <button type="submit">Delete</button>
    </form>
    <form class="action-button-3" action="{% url 'wardrobe' %}">
        <button type="submit">Go back</button>
    </form>
</div>
{% endblock %}