{% extends 'block.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'main-page.css' %}">

{% endblock %}

{% block title %} Main page {% endblock %}

{% block page %}

<div class="content">
    <div class="raw-statistick">
        Statistics
        <p>Number of object: {{ clothes.count }}</p>
        <p>Spent money: {{ price }}</p>
        {% for cloth in clothes %}
            {{ cloth.purchase_price }}
        {% endfor %}
        
    </div>
</div>


{% endblock %}