{% extends 'block_TEST.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'main-page.css' %}">

{% endblock %}

{% block title %} Main page {% endblock %}

{% block page %}

<div class="content">
    <div class="raw-statistick">
        Statistics:
        <p>Number of clothes: {{ clothes.count }}</p>
        <p>Amount of money spent: {{ price }}</p>
        <p>Amount of money earned: {{ money_earned }}</p>
        <p>Income: {{ income }}</p>
        <p>Predicting earnings: {{ predicting_earnings }} </p>
    </div>
</div>

{% endblock %}