{% extends 'block.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'main-page.css' %}">

{% endblock %}

{% block title %} Main page {% endblock %}

{% block page %}
<div>
    <div class="row">
        <div class="col">
            <h1>Organizer</h1>
            <p>Nie szata czyni człowieka, ale ja czynię szaty</p>
            <button type="button">Pointless button</button>
        </div>
        <div class="col">
            <div class="card card1">
                <h5>Wardrobe</h5>
                <p>All your clothes</p>
            </div>
            <div class="card card2">
                <h5>Category</h5>
                <p>All your clothing categories</p>
            </div>
            <div class="card card3">
                <h5>Pages</h5>
                <p>Sites where you sell clothes</p>
            </div>
            <div class="card card4">
                <h5>Notes</h5>
                <p>Journal of your notes</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}