{% extends 'block.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'type-list.css' %}">


{% endblock %}
{% block title %} Cloth type list {% endblock %}

{% block page %}
<div class="content">
    <h1>Cloth type list:</h1>
    <div class="just_type">
        {% for type in types %}
        <a href="{% url 'type_detail' slug=type.slug %}">{{ type.type }}</a>
        <div class="just_measurement">
            Measurement:
            {% for mea in type.measurement.all %}
            <a>|{{ mea }}</a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
