{% extends 'block.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'type-detail.css' %}">
{% endblock %}

{% block title %} Type details {% endblock %}

{% block page %}
<div class="content">
    <h1> Detail type: </h1>
    <form  method="post">
        <div class="select-form">
        {% csrf_token %}
        {{ form.as_p }}
        </div>
        <div class="direction-button-area">
            <input class="direction-button" type="submit" value="Edit">
            <div class="buttons">
                <form action="{% url 'type_list' %}">
                    <button class="direction-button" type="submit">Go back</button>
                </form>
            </div>
        </div>
    </form>
</div>
{% endblock %}