{% extends 'block.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'wardrobe.css' %}">
{% endblock %}
{% block title %} Wardrobe {% endblock %}

{% block page %}
<a href="{% url 'wardrobe' %}" class="temporary">Tiles</a>
<a href="{% url 'wardrobe_table' %}" class="temporary">Table</a>

<br>Search:<input>
<div class="cloth-wrapper">
    {% for cloth in clothes %}
    <div class="cloth-bar" style="background-image:url('/media/{{ cloth.photo }}')">
        <a href="{% url 'cloth-detail' slug=cloth.slug %}">
            <h2 class="cloth-name">{{ cloth.name }}</h2>
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}
