{% extends 'block_TEST.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'wardrobe_TEST.css' %}">
{% endblock %}

{% block title %} TEST {% endblock %}

{% block page %}
<div class="content">
    <div class="switch-look">
        <a href="{% url 'wardrobe' %}" class="switch-button">Tiles</a>
        <a href="{% url 'wardrobe_table' %}" class="switch-button">Table</a><br>
    </div>
    <div class="filter_form">
        <form method="GET">
            <div class="inputBoxTEST">
                {{ filter.form }}
            </div>
            <button type="submit" style="--clr:#1644C9"><span>Submit</span><i></i></button>
        </form>
    </div>

    <div class="cloth-wrapper">
        {% for cloth in filter.qs %}
        <div class="cloth-bar" style="background-image:url('/media/{{ cloth.photo }}')">
            <a href="{% url 'cloth-detail' slug=cloth.slug %}">
                <h2 class="cloth-name">{{ cloth.name }}</h2>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- <div class="inputBox">
    <input type="text" required="required">
    <span>Name</span>
</div> -->
<form method="GET">
    <div class="inputBox">
        {{ filter.form }}
    </div>
    <button type="submit" style="--clr:#1644C9"><span>Submit</span><i></i></button>
</form>
{% endblock %}
